/* * {
  outline: 1px solid red;
} */

.body-bg {
  background-image: url('bg.png');
  background-size: auto;
  background-repeat: no-repeat;
}

.head-bg {
  background-image: url('topBar.png');
  background-size: 100%;
  background-position: 100% 100%;
  width: 100%;
}

.force-foot-down {
  position: fixed;
  bottom: 0;
}

.foot-bg {
  background-image: url('bottomBar.png');
  background-size: 100vw;
  width: 100%;
}

.row-spacing {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mod-margin {
  margin-top: 3rem;
}

@media screen and (max-width: 1367px) {
  .row-spacing {
        margin-top: 1rem;
    margin-bottom: -1.75rem;
  }
  .mod-margin {
    margin-top: 1.5rem;
  }
  .img-shrink {
    height: 100%;
  }
  .col-shrink {
    height: 285px;
  }
}